@{
    ViewBag.Title = "암호 잊음 확인";
    Layout = "~/Views/Shared/_Layout02.cshtml";
}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        <div>
            <p>
                전자 메일을 확인하여 암호를 재설정하십시오.
            </p>
        </div>
        </div>
    </div>

