@{
    ViewBag.Title = "암호 확인 재설정";
    Layout = "~/Views/Shared/_Layout02.cshtml";
}


<div class="card card-login mx-auto mt-5">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        <div>
            <p>
                암호가 재설정되었습니다.

            </p>
        </div>
        <div class="text-center">
            <a class="d-block small mt-3" href="@Url.Action("Login", "Account" , null)">로그인하려면 여기를 클릭하십시오.</a>
        
        </div>
    </div>
    </div>
